*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav a.active {
  background-color: black;
  color: white
}


.cards {
  text-align: center;
  border: yellow solid 3px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 5px 5px #e04b52;
  color: white;
  height: fit-content;
  width: fit-content;
  background: rgba(39, 16, 167, 0.778)
  
}

#nasty{
  text-align: center
}

.cardButtons{
  margin: ;
}

/* .uiForm {
  border: 2px solid black;
  text-align: center;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  margin-left: 38%;
} */

.submitAreas{
  border: 1px solid black;
  border-radius: 4px;
}

.poster {
  width: 225px;
  height: 300px;
}

.crowd{
  max-height: 225px;
  max-width: 300px;
}

#header {
  padding: 15px;
  text-align:unset;
  background: #1abc9c;
  color: white;
  font-size: 15px;
  padding: 5px;
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  
}

.Links{
  display: inline-block;
  width: 25%;
  text-align: center;
  
}



body {
  background-image: url("https://wallpaperset.com/w/full/3/a/7/58818.jpg")
}

.cardButtons{
  color:#e04b52
}

#setListBundle{
  color: white
}

.column{
  text-align: center;
  color:white
}

.Videos{
  text-align: center;
}

#container{
  display: flex;
  margin: 10px;
}

#container div {
  background-color: #1abc9c;


}